includes:
	- ../convoca-core/dev-tools/phpstan.neon.dist
parameters:
	level: 0
	paths:
		- .
		- ../convoca-core/includes/
		- ../convoca-core/convoca-core.php
	excludePaths:
		- vendor/
		- tests/
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
