includes:
	- phpstan-baseline.neon
	- ../convoca-core/dev-tools/phpstan.neon.dist
parameters:
	level: 0
	paths:
		- .
		- ../convoca-core/includes/
		- ../convoca-core/convoca-core.php
	excludePaths:
		- vendor/
		- tests/
	parallel:
		maximumNumberOfProcesses: 1
		processTimeout: 600.0
	scanFiles:
	stubFiles:
		- ../convoca-core/dev-tools/wp-cli.stub
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
