parameters:
	ignoreErrors:
		-
			message: '#^Instantiated class Dompdf\\Options not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../convoca-core/convoca-core.php

		-
			message: '#^Instantiated class Dompdf\\Options not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../convoca-core/includes/CONV_Signature.php

		-
			message: '#^Cannot unset offset ''s'' on array\{post_type\: ''inscripcion'', posts_per_page\: \-1, post_status\: array\{''publish'', ''pending'', ''draft'', ''private'', ''future''\}, meta_query\: array\{relation\: ''AND'', 0\: array\{key\: ''_conv_actividad_id'', value\: int\<min, \-1\>\|int\<1, max\>\}, 1\: array\{key\: ''_conv_estado'', value\: ''cancelada'', compare\: ''\!\=''\}\}, orderby\: ''title'', order\: ''ASC''\}\.$#'
			identifier: unset.offset
			count: 1
			path: admin/class-admin-checkin.php

		-
			message: '#^Function as_schedule_single_action not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/class-admin-media-dashboard.php

		-
			message: '#^Function as_unschedule_all_actions not found\.$#'
			identifier: function.notFound
			count: 3
			path: admin/class-admin-media-dashboard.php

		-
			message: '#^Call to an undefined method Convoca\\Enroll\\Admin_Monitor_CRM\:\:render_scripts\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: admin/class-admin-monitor-crm.php

		-
			message: '#^Function convoca_export_pdf not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/class-admin-page.php

		-
			message: '#^Call to an undefined static method Convoca\\Enroll\\Motor_Inscripcion\:\:cleanup_orphan_codes\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: convoca-enroll.php

		-
			message: '#^Call to static method add_command\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: convoca-enroll.php

		-
			message: '#^Call to static method error\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: includes/CLI_Webhooks.php

		-
			message: '#^Call to static method success\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: includes/CLI_Webhooks.php

		-
			message: '#^Call to static method debug\(\) on an unknown class Convoca\\Enroll\\Logger\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Email_Automation.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Domain\\Entity\\Calendar not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Domain\\Entity\\Event not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Domain\\ValueObject\\DateTime not found\.$#'
			identifier: class.notFound
			count: 2
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Domain\\ValueObject\\Location not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Domain\\ValueObject\\TimeSpan not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Domain\\ValueObject\\Uri not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Eluceo\\iCal\\Presentation\\Factory\\CalendarFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Google\\Client not found\.$#'
			identifier: class.notFound
			count: 3
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Google\\Service\\Calendar not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Google\\Service\\Calendar\\Event not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Calendar.php

		-
			message: '#^Instantiated class Google\\Client not found\.$#'
			identifier: class.notFound
			count: 3
			path: includes/Google_Photos.php

		-
			message: '#^Instantiated class Google\\Service\\PhotosLibrary not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Photos.php

		-
			message: '#^Instantiated class Google\\Service\\PhotosLibrary\\Album not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Photos.php

		-
			message: '#^Instantiated class Google\\Service\\PhotosLibrary\\ShareAlbumRequest not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Google_Photos.php

		-
			message: '#^Call to static method get_current_member_id\(\) on an unknown class Convoca\\Members\\Member_Auth\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Rest_API.php

		-
			message: '#^Call to static method is_authenticated\(\) on an unknown class Convoca\\Members\\Member_Auth\.$#'
			identifier: class.notFound
			count: 1
			path: includes/Rest_API.php

		-
			message: '#^Call to static method log\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 1
			path: includes/WP_CLI_Migration.php

		-
			message: '#^Call to static method success\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 4
			path: includes/WP_CLI_Migration.php

		-
			message: '#^Call to static method error\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: includes/WP_CLI_Webhooks.php

		-
			message: '#^Call to static method success\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: includes/WP_CLI_Webhooks.php

		-
			message: '#^Call to static method create_payment\(\) on an unknown class Convoca\\Gateway\\Payment_Handler\.$#'
			identifier: class.notFound
			count: 1
			path: public/class-form-inscripcion.php

		-
			message: '#^Call to static method get_payment_link\(\) on an unknown class Convoca\\Gateway\\Payment_Handler\.$#'
			identifier: class.notFound
			count: 1
			path: public/class-form-inscripcion.php
